@import "variables";
@import "bootstrap";
@import "bootstrap-responsive";

// Mixins

@mixin dimensions($width:auto, $height: auto){
	display: block;
	height: $height;
	width: $width;
}

footer{
	.btn{
		display: block;
		margin: 0 auto;
	}
}

h2{
	@include clearfix;
}

html,body{
	@include dimensions(100%,100%);
}

section{
	margin: 60px 0;
}

.hero-unit{
		.alert{
		p{
			font-size: $baseFontSize;
			line-height: $baseLineHeight;
		}
	}
}

.approval{
	font-size: $baseFontSize;
	font-weight: 600;
	line-height: $baseLineHeight;
	margin: $baseLineHeight/2 0;
}

.form-horizontal{
	.control-label{
		width: 33%;
	}
	.controls{
		margin-left: 36%;
	}
}

.hero-unit{
	padding: 30px 60px;
	.alert{
		font-size: 75%;
		line-height: 1.4;
	}
}

.right{
	text-align: center;
}

.trend{
	display: block;
	text-indent: -999em;
}

/* ==== PAGE STATES BASED ON APPROVAL RATING ==== */

.abominable{
	background: $red;
	// @include gradient-vertical($red, darken($red, 15%));
}

.bad{
	background: $orange;
	// @include gradient-vertical($orange,darken($orange, 10%));	
}

.good{
	background: $yellow;
	// @include gradient-vertical($yellow, darken($yellow, 5%));	
}

.great{
	background: $green;
	// @include gradient-vertical($green, darken($green, 15%));	
}

.start{
	background: $blue;
	// @include gradient-vertical($blue, darken($blue, 15%));
}

#secondScreen{
	.hero-unit{
		margin-left: -60px;
		margin-right: -60px;
	}
}